name: "Monorepo Build and Deploy"

on:
  push:
    branches:
      - staging
      - production

permissions:
  contents: read
  packages: read
  # For deploying images to Cloud Run
  # id-token: write

jobs:
  build_images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - image_name: main-node
          - image_name: main-python
            cache_path: /root/.cache/uv
    steps:
      # Fetch the last 50 commits so that devops affected works
      - name: Checkout repo and history
        uses: actions/checkout@v4
        with:
          fetch-depth: 50

      - name: Setup prerequesites
        uses: ./.github/actions/setup-prereq@v1

      - name: Connect to GKE
        uses: ./.github/actions/k8s/connect-to-gke@v1
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          zone: ${{ secrets.GCLOUD_ZONE }}
          cluster_name: ${{ secrets.GCLOUD_CLUSTER_NAME }}
          service_account_key: ${{ secrets.GCLOUD_SA_KEY }}

      - name: Connect to Artifact Registry
        uses: ./.github/actions/registry/connect-to-artifact-registry@v1
        with:
          service_account_key: ${{ secrets.GCLOUD_SA_KEY }}
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          region: ${{ secrets.GCLOUD_ARTIFACT_REGISTRY_REGION }}

      # For deploying images to Cloud Run
      # - name: Connect to Cloud Run
      #   uses: ./.github/actions/connect-to-cloud-run@v1
      #   with:
      #     project_id: ${{ vars.GCP_PROJECT_ID }}
      #     project_number: ${{ vars.GCP_PROJECT_NUMBER }}
      #     region: ${{ vars.GCP_ARTIFACT_REGISTRY_REGION }}

      - name: Build image
        uses: ./.github/actions/build-image@v1
        with:
          image_name: ${{ matrix.image_name }}
          cache_path: ${{ matrix.cache_path || '/root/.bun/install/cache' }}

  db_migrate_and_deploy:
    needs: [build_images]
    runs-on: ubuntu-latest
    steps:
      # Fetch the last 50 commits so that devops affected works
      - name: Checkout repo and history
        uses: actions/checkout@v4
        with:
          fetch-depth: 50

      - name: Setup prerequesites
        uses: ./.github/actions/setup-prereq@v1

      - name: Connect to GKE
        uses: ./.github/actions/k8s/connect-to-gke@v1
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          zone: ${{ secrets.GCLOUD_ZONE }}
          cluster_name: ${{ secrets.GCLOUD_CLUSTER_NAME }}
          service_account_key: ${{ secrets.GCLOUD_SA_KEY }}

      - name: Connect to Artifact Registry
        uses: ./.github/actions/registry/connect-to-artifact-registry@v1
        with:
          service_account_key: ${{ secrets.GCLOUD_SA_KEY }}
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          region: ${{ secrets.GCLOUD_ARTIFACT_REGISTRY_REGION }}

      # For deploying images to Cloud Run
      # - name: Connect to Cloud Run
      #   uses: ./.github/actions/connect-to-cloud-run@v1
      #   with:
      #     project_id: ${{ vars.GCP_PROJECT_ID }}
      #     project_number: ${{ vars.GCP_PROJECT_NUMBER }}
      #     region: ${{ vars.GCP_ARTIFACT_REGISTRY_REGION }}

      - name: Run DB Migrate
        uses: ./.github/actions/db-migrate@v1

      # Repeat per image (it checks if the image is affected and deploys it if it is)
      - name: Deploy main node
        uses: ./.github/actions/deploy-image-k8s@v1
        with: { "image_name": "main-node" }

      - name: Deploy main python
        uses: ./.github/actions/deploy-image-k8s@v1
        with: { "image_name": "main-python" }
