# Based on https://docs.github.com/en/packages/quickstart

name: Build devops package

on:
  release:
    types: [created]

# See https://docs.npmjs.com/trusted-publishers
permissions:
  id-token: write
  contents: read

jobs:
  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Setup bun
  #       uses: oven-sh/setup-bun@v2
  #     - run: bun install --frozen-lockfile
  #     - run: bun run test

  publish-npm:
    # needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
      - run: bun install --frozen-lockfile
      - run: bun run build
      - run: npm publish
